/*
BUTTONS STYLES
 */

.button {
  @extend %buttonsGeometry;
  .text-label {
    display: block;
    transition: $slow-transition;
  }
  .text-hover {
    display: block;
    transform: translateY($button-height) scaleY(0);
    transition: $slow-transition;
  }
  &:hover {
    color: $white;
    background: $secondary-color;
    .text-label {
      transform: translateY(-$button-height) scaleY(0);
    }
    .text-hover {
      transform: translateY(-$button-height) scaleY(1);
    }
  }
  &__icon{
    width: 40px;
    min-width: 40px;
    height: 10px;
    stroke: $primary-color;
    fill: $secondary-color;
    transition: $default-transition;
  }
  &--square-transp{
    color: $secondary-color;
    background: $primary-color;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 25px;
    height: auto;
    border: 1px solid $primary-color;
    & .button__icon{
      stroke: $secondary-color;
    }
    &:hover{
      background: $secondary-color;
      color: $primary-color;
      & .button__icon {
        stroke: $primary-color;
        fill: $secondary-color;
      }
    }
    & span{
      margin-left: 5px;
    }
  }
  &--square-fill{
    color: $primary-color;
    background: $secondary-color;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 25px;
    height: auto;
    border: 1px solid $secondary-color;
    &:hover{
      background: $primary-color;
      color: $secondary-color;
      & .button__icon {
        stroke: $secondary-color;
        fill: $primary-color;
      }
    }
    & span{
      margin-left: 5px;
    }
  }
  &--round-transp{
    border-radius: 16px;
    background: transparent;
    width: 100%;
    justify-content: center;
  }
  &--form{
    width: 100%;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $primary-color;
    &:hover{
      background: $primary-color;
      color: $secondary-color;
      border: 1px solid $secondary-color;
    }
  }
  &--white-border{
    border: 1px solid $primary-color;
    &:hover{
      background: $primary-color;
      color: $secondary-color;
    }
  }
  &__header-icon{
    display: none;
  }
}

@media screen and (max-width: 1026px){
  .button{
    &--square-transp{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px){
  .button{
    &--tablet{
      font-size: 0; 
      background: $secondary-color;
      height: 100%;
      padding: 0 40px;
      border-radius: 0;
    }
    &__header-icon{
      display: inline-block;
      width: 40px;
      height: 40px;
      fill: $primary-color;
 
    }
  }
}


@media screen and (max-width: 320px){
  .button{
    font-size: 18px;
    &__header{
      &-icon{
        position: relative;
        bottom: 2px;
      }
    }
    &--tablet{
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
    }
    &--square-fill{
      font-size: 16px;
    }
    &--white-border{
      border: 2px solid $primary-color;
    }
    &--square-transp{
      display: flex;
      justify-content: space-between;
      font-size: 16px;
    }
  }
}

