.contacts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    &__item{
        display: flex;
        align-items: center;
        max-width: 250px;
        &-icon{
            margin-right: 10px;
            min-width: 40px;
            width: 40px;
            height: 40px;
            fill: $secondary-color;
        }
        &-text{
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
        }
        &-content{
            & a{
                font-weight: 500;
                font-size: 15px;
                line-height: 140%;
            }
        }
    }
    &--footer{
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 75px;
        border-left: 1px solid $grey;
        border-right: 1px solid $grey;
        margin: 0;
        & .contacts{
            &__item{
                margin-bottom: 27px;
                &-content{
                    display: flex;
                    flex-direction: column;
                }
                &-text{
                    padding: 0;
                }
            }
        }
    }
    &--burger{
        flex-direction: column;
        align-items: flex-start;
        &.contacts{
            width: 100%;
            margin: 0;
        }
        & .contacts{
            &__item{
                padding: 10px 15px;
                border-top: 1px solid $grey;
                &:nth-child(2){
                    display: flex;
                }
                &:first-child, &:last-child{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .contacts{
        &__item{
            &-text{
                font-size: 14px;
            }
            &-content{
                font-size: 14px;
            }
            &-icon{
                min-width: 23px;
                width: 23px;
            }
        }
        &--footer{
            width: 50%;
            border-right: none;
        }
    }
}

@media screen and (max-width: 768px){
    .contacts{
        margin: 0;
        justify-content: center;
       &__item{
           &:first-child{
            display: none;
           } 
           &-icon{
               display: none;
           }
           &-content {
            & a:first-child{
                font-size: 12px;
            }
            & a:last-child{
                display: none;
            }
           } 
       }
       &--burger{
        &.contacts{
            width: 100%;
            margin: 0;
        }
        & .contacts{
            &__item{
                padding: 10px 15px;
                width: 100%;
                max-width: unset;
                border-top: 1px solid $grey;
                &:first-child, &:last-child{
                    display: flex;
                }
                &-icon{
                    display: inline-block;
                }
                &-content {
                    & a:first-child{
                        font-size: 15px;
                    }
                    & a:last-child{
                        display: inline-block;
                    }
                   }
                }
            }
        }
        &--footer{
            width: 100%;
            padding: 0;
            border-left: none;
            & .contacts__item{
                margin-bottom: 5px;
                &-text{
                    font-size: 12px;
                }
                &-icon{
                    display: unset;
                }
            }
            & button{
                display: none;
            }
        }
    }
}