.logo{
    width: 140px;
    height: auto;
    display: block;
    & img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &--small{
        width: 65px;
        height: 40px;
    }
}