.see-all{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-color;
    & svg{
        position: relative;
        width: 40px;
        height: 10px;
        stroke: $secondary-color;
        fill: $primary-color;
        transition: $default-transition;
        right: 0;
        &.button__icon-mobile{
            display: none;
        }
    }
    &:hover{
        & svg{
            right: -20px;
            stroke: $black-light;
        }
    }
    &--textWP{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
        color: $black-light;
        font-weight: 500;
        opacity: 0.7;
        & .button__icon{
            width: 10px;
            min-width: 10px;
            margin-left: 10px;
            stroke: $black-light;
        }
    }
}

@media screen and (max-width: 768px){
  .equipment, .news__title{
    & .see-all{
        & .button__icon--mobile{
            display: inline-block;
        }
        & svg:not(.button__icon--mobile){
            display: none;
        }
    }
  }
}
