/*
DEFAULT COLORS
*/

// VARIABLES BLACK COLOR
$black: #434242; // rgba(0,0,0,0.87)
$black-light: #8A8A8A;

$grey: #E9E9E9;
$grey-light: #F4F4F4;
$grey-very-light: #F9F9F9;

$white: #fff;

$blue: #52ADE1;
